#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.App {
    height: 100%;
    background-image: url('./images/city.jpg');
    background-size: cover ;
    background-position: center;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.card {
    background-color: azure;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 15px;
}

.heading {
    display: felx;
    align-items: center;
    height: 580px;

}